<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../NavBar/NavBar.css" />
    <link rel="stylesheet" href="./home.css" />
    <title>SweetCommerce</title>
  </head>

  <body>
    <!-- Navbar se divide en 2 secciones parte 1 y parte 2 -->
    <header id="sectionContainer" class="container-fluid ps-0 pe-0 pt-0">
      <nav class="pt-0" id="header">
        <div
          id="navBar-partOne"
          class="navbar navbar-expand-lg bg-body-tertiary pt-0"
        >
          <div id="navBar-partOne-item" class="container-fluid">
            <a class="navbar-brand" href="#">
              <img
                id="sweetLogo"
                src="/Assets/images/Sweet.png"
                alt="Logo"
                class="d-inline-block align-text-center"
              />
            </a>

            <div class="collapse navbar-collapse" id="navbarNav">
              <form class="d-flex" role="search">
                <input
                  class="form-control me-2"
                  type="search"
                  placeholder="Search"
                  aria-label="Search"
                />
                <button
                  class="btn btn-outline-success bg-info-subtle border-light-subtle text-info-emphasis"
                  type="submit"
                >
                  Search
                </button>
              </form>

              <div class="container">
                <ul class="nav justify-content-end">
                  <li class="nav-item collapseItem">
                    <a class="nav-link active" aria-current="page" href="#">
                      <img
                        class="img-fluid"
                        src="/Assets/icons/icons8-usuario-masculino-en-círculo-48.png"
                        alt=""
                      />
                    </a>
                  </li>
                  <li class="nav-item collapseItem">
                    <a class="nav-link" href="#">
                      <img
                        class="img-fluid"
                        src="/Assets/icons/icons8-me-gusta-48.png"
                        alt=""
                      />
                    </a>
                  </li>
                  <li class="nav-item collapseItem">
                    <a class="nav-link disabled">
                      <img
                        src="/Assets/icons/icons8-carrito-de-la-compra-cargado-48.png"
                        alt=""
                    /></a>
                  </li>
                </ul>
              </div>
            </div>

            <!-- Elementos que aparecen al colapsar-->

            <a
              class="nav-link navbar-toggler border border-0 p-0"
              href="#"
              type="link"
              data-bs-toggle="collapse"
              data-bs-target="#navbarNav"
              aria-controls="navbarNav"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span
                ><img
                  id="iconSearch"
                  class="icons"
                  src="/Assets/icons/icons8-busca-mas-48.png"
                  alt=""
              /></span>
            </a>

            <a
              class="nav-link navbar-toggler border border-0 p-0"
              href="#"
              type="link"
              data-bs-toggle="collapse"
              data-bs-target="#navbarNav"
              aria-controls="navbarNav"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <img
                id="iconUser"
                class="icons"
                src="/Assets/icons/icons8-usuario-masculino-en-círculo-48.png"
                alt=""
              />
            </a>
            <a
              class="nav-link navbar-toggler border border-0 p-0"
              href="#"
              type="link"
              data-bs-toggle="collapse"
              data-bs-target="#navbarNav"
              aria-controls="navbarNav"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <img
                id="iconMeEncanta"
                class="icons"
                src="/Assets/icons/icons8-me-gusta-48.png"
                alt=""
              />
            </a>
            <a
              class="nav-link navbar-toggler border border-0 p-0"
              href="#"
              type="link"
              data-bs-toggle="collapse"
              data-bs-target="#navbarNav"
              aria-controls="navbarNav"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <img
                id="iconCarrito"
                class="icons"
                src="/Assets/icons/icons8-carrito-de-la-compra-cargado-48.png"
                alt=""
              />
            </a>
            <!-- Boton hamburguesa -->
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarNav"
              aria-controls="navbarNav"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
        </div>

        <div
          id="navBar-partTwo"
          class="navbar navbar-expand-lg bg-body-tertiary"
        >
          <div id="navBar-partTwo-item" class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#"
                    >Dulces</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#"
                    >Chocolate</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#"
                    >Bebidas</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#"
                    >Snacks</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#"
                    >Caja Misteriosa</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <main id="" class="container-fluid ps-0 pe-0 pt-0">
      <!--Seccion 1: Carousel home -->
      <section id="carousel" class="container-fluid">
        <div id="carouselCaptions" class="carousel slide ps-lg-4 pe-lg-4 pt-0">
          <!-- Sección de botones -->
          <div id="buttonsSection" class="carousel-indicators">
            <!-- Botones lineal 1 -->
            <button
              type="button"
              data-bs-target="#carouselCaptions"
              data-bs-slide-to="0"
              class="active"
              aria-current="true"
              aria-label="Slide 1"
            ></button>
            <!-- Botones lineal 2 -->
            <button
              type="button"
              data-bs-target="#carouselCaptions"
              data-bs-slide-to="1"
              aria-label="Slide 2"
            ></button>
            <!-- Botones lineal 3 -->
            <button
              type="button"
              data-bs-target="#carouselCaptions"
              data-bs-slide-to="2"
              aria-label="Slide 3"
            ></button>
            <!-- Botones lineal 4 -->
            <button
              type="button"
              data-bs-target="#carouselCaptions"
              data-bs-slide-to="3"
              aria-label="Slide 4"
            ></button>
          </div>

          <div id="imageSection" class="carousel-inner">
            <!-- Imagen 1 -->
            <div class="carousel-item active">
              <img
                src="../../images/Carousel/website_egg_BANNER_1300x.webp"
                class="d-block w-100"
                alt="..."
              />
              <div class="carousel-caption d-none d-md-block">
                <!-- Aquí se puede colocar una descripción -->
              </div>
            </div>
            <!-- Carousel Dispositivos pequeños -->
            <!-- <div class="smallDevicesItem carousel-item active">
              <img
                src="../../images/Carousel/website_egg_BANNER_1300x.webp"
                class="d-block w-100"
                alt="..."
              />
              <div class="carousel-caption d-none d-md-block">
                 Aquí se puede colocar una descripción 
              </div>
            </div> -->
            <!-- Imagen 2 -->
            <div class="carousel-item">
              <img
                src="../../images/Carousel/website_egg_BANNER_1300x.webp"
                class="d-block w-100"
                alt="..."
              />
              <div class="carousel-caption d-none d-md-block">
                <!-- Aquí se puede colocar una descripción -->
              </div>
            </div>
            <!-- Imagen 3 -->
            <div class="carousel-item">
              <img
                src="../../images/Carousel/website_egg_BANNER_1300x.webp"
                class="d-block w-100"
                alt="..."
              />
              <div class="carousel-caption d-none d-md-block">
                <!-- Aquí se puede colocar una descripción -->
              </div>
            </div>
            <!-- Imagen 4 -->
            <div class="carousel-item">
              <img
                src="../../images/Carousel/website_egg_BANNER_1300x.webp"
                class="d-block w-100"
                alt="..."
              />
              <div class="carousel-caption d-none d-md-block">
                <!-- Aquí se puede colocar una descripción -->
              </div>
            </div>
          </div>
          <!-- Botones flechas -->
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselCaptions"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <!-- El texto de la etiqueta esta oculta -->
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselCaptions"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </section>

      <!--Seccion 2: Carrusel de productos varios  -->
      <section id="" class="container">
        <!-- Sección de etiquetas los populares y ver más -->
        <div id="homeEtiquetas" class="d-flex justify-content-between p-4">
          <h1 id="headlineSection1">Los más populares</h1>
          <button id="homeButton" class="" type="button">
            <span id="headlineButton1"><h2>Ver más...</h2></span>
          </button>
        </div>
        <!-- Sección de cards -->
        <!-- <div id="homeCardSection" class="row p-0 justify-content-between"> -->
          <!-- Contenedor de card 1 y 2 -->
          <!-- <div class="homeCardContainer col-md-4 col-sm-6 row">
            <div id="card1" class="homeCards col" style="width: 10rem">
              <img
                class="w-100"
                src="../../images/popularCategorias/109192705_116119630180066_966952021339786987_n.jpg"
                alt=""
              />
            </div>

            <div id="card2" class="homeCards col" style="width: 10rem">
              <img
                class="w-100"
                src="../../images/popularCategorias/109192705_116119630180066_966952021339786987_n.jpg"
                alt=""
              />
            </div>
          </div> -->
          <!-- Contenedor de card 3 y 4 -->
          <!-- <div class="homeCardContainer col-md-4 col-sm-6 row">
            <div id="card3" class="homeCards col" style="width: 10rem">
              <img
                class="w-100"
                src="../../images/popularCategorias/109192705_116119630180066_966952021339786987_n.jpg"
                alt=""
              />
            </div>

            <div id="card4" class="homeCards col" style="width: 10rem">
              <img
                class="w-100"
                src="../../images/popularCategorias/109192705_116119630180066_966952021339786987_n.jpg"
                alt=""
              />
            </div>
          </div> -->
          <!-- Contenedor de card 5-->
          <!-- <div class="homeCardContainer col-md-4 col-sm-6 row">
            <div id="card5" class="homeCards col" style="width: 10rem">
              <img
                class="w-100"
                src="../../images/popularCategorias/109192705_116119630180066_966952021339786987_n.jpg"
                alt=""
              />
            </div>
            <div id="card6" class="homeCards col" style="width: 10rem">
              <img
                class="w-100"
                src="../../images/popularCategorias/109192705_116119630180066_966952021339786987_n.jpg"
                alt=""
              />
            </div>
          </div> </div>--> 

          <div id="includeHtml" class="w-100 ps-0 pe-0 pt-0"></div>
        
      </section>
      <!--  -->
      <section id="" class="">
        <!-- -->
        <div id="etiquetas" class=""></div>
        <!-- Sección de cards -->
        <div></div>
      </section>
      <!--  -->
      <section id="" class="">
        <!--  -->
        <div id="etiquetas" class=""></div>
        <!-- Sección de cards -->
        <div></div>
      </section>
      <!--  -->
      <section id="" class="">
        <!-- Sección de etiquetas los populares y ver más -->
        <div id="etiquetas" class=""></div>
        <!-- Sección de cards -->
        <div></div>
      </section>
      <!--  -->
      <section id="" class="">
        <!-- Sección de etiquetas los populares y ver más -->
        <div id="etiquetas" class=""></div>
        <!-- Sección de cards -->
        <div></div>
      </section>
    </main>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
    <script src="../../js/jquery-3.3.1.min.js"></script>
		<script src="../../js/jquery-migrate-3.0.0.min.js"></script>
    <script src="home.js"></script>
  </body>
</html>
