<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" src="../../Styles/categoriasPopularesHome.css">
  <title>HomeCategorias</title>
</head>
<body>

  <section>
    <div class="container text-center my-3">
      <div class="row mx-auto my-auto justify-content-center">
        <div id="popularesCarousel" class="carousel carruselCustom slide" data-bs-ride="carousel">
          <div class="carousel-inner carruselInner" role="listbox">
            <!--  -->
            <div class="carousel-item popularesItem categoriaItem active">
              <div class="col-md-3">
                <div class="card">
                  <div class="card-img">
                    <img src="https://cdn.shopify.com/s/files/1/0250/7483/files/Snacks_f5229a8f-3e01-4692-b121-ff78ce863159_300x.png?v=1670609460" class="img-fluid categoriaCardImg">
                  </div>
                  <div class="card-img-overlay">Slide 1</div>
                </div>
              </div>
            </div>
            <!--  -->
            <div class="carousel-item popularesItem categoriaItem">
              <div class="col-md-3">
                <div class="card">
                  <div class="card-img">
                    <img src="https://cdn.shopify.com/s/files/1/0250/7483/files/gummy_86bcfbe9-f748-480a-968d-89cdac861674_300x.png?v=1670609451" class="img-fluid categoriaCardImg">
                  </div>
                  <div class="card-img-overlay">Slide 2</div>
                </div>
              </div>
            </div>
    
            <div class="carousel-item popularesItem categoriaItem">
              <div class="col-md-3">
                <div class="card">
                  <div class="card-img">
                    <img src="https://cdn.shopify.com/s/files/1/0250/7483/files/gum_0dee578d-4343-4a54-be84-a3d41d2ba0e9_300x.png?v=1670609440" class="img-fluid categoriaCardImg">
                  </div>
                  <div class="card-img-overlay">Slide 3</div>
                </div>
              </div>
            </div>
            <!--  -->
            <div class="carousel-item popularesItem categoriaItem" >
              <div class=" col-md-3">
                <div class="card">
                  <div class="card-img">
                    <img src="https://cdn.shopify.com/s/files/1/0250/7483/files/Chocolate_7626f596-16e8-4eb2-aff9-34b7067c58d8_300x.png?v=1670609505" class="img-fluid categoriaCardImg">
                  </div>
                  <div class="card-img-overlay">Slide 4</div>
                </div>
              </div>
            </div>
            <!--  -->
            <div class="carousel-item popularesItem categoriaItem">
              <div class=" col-md-3">
                <div class="card">
                  <div class="card-img">
                    <img src="https://cdn.shopify.com/s/files/1/0250/7483/files/retro_671f7cfe-1727-4ddd-b62e-718ce3929e7f_300x.png?v=1670609428" class="img-fluid categoriaCardImg">
                  </div>
                  <div class="card-img-overlay">Slide 5</div>
                </div>
              </div>
            </div>
            <!--  -->
            <div class="carousel-item popularesItem categoriaItem">
              <div class="col-md-3">
                <div class="card">
                  <div class="card-img d-block">
                    <img src="/Assets/Images/PopularCategorias/109696244_116119626846733_8827703549462747326_n.jpg" class="img-fluid categoriaCardImg">
                  </div>
                  <div class="card-img-overlay">Slide 6</div>
                </div>
              </div>
            </div>
            <!--  -->
          </div>
          <a class="carousel-control-prev bg-transparent w-aut" href="#popularesCarousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          </a>
          <a class="carousel-control-next bg-transparent w-aut" href="#popularesCarousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
          </a>
        </div>
      </div>		
    </div>
  </section>

  <!--  -->
<section>
  <div class="container text-center my-3">
    <div class="row mx-auto my-auto justify-content-center">
      <div id="populares2Carousel" class="carousel carruselCustom slide" data-bs-ride="carousel">
        <div class="carousel-inner carruselInner" role="listbox">
          <!--  -->
          <div class="carousel-item populares2Item categoriaItem active">
            <div class="col-md-3">
              <!-- Se agrega card tomada de productos -->
              <div class="card h-100">
                <!-- Se agrega un header a la tarjeta y se coloca icono para wishList -->
                <div class="card-header bg-transparent">
                  <a href="#" class="btn"><img src="/Assets/icons/icons8-me-gusta-48.png" alt="AgregaWishList"
                      width="30px"></a>
                </div>
                <img class="card-img-top" src="/Assets/images/Productos/gomitas.jpg" alt="Card image cap" width="">
                <div class="card-body">
                  <h5 class="card-title">Gomitas Sour Patch</h5>
                  <p class="card-text">$39.90</p>
                </div>
                <!-- Se agrega un footer a la tarjeta y se coloca icono para añadirCarrito-->
                <div class="card-footer ">
                    <small class="text-muted">
                      <a href="#" class="btn1"></a><img src="/Assets/icons/icons8-carrito-de-la-compra-cargado-48.png" alt="AgregarCarrito"
                        width="40px"></a>
                  </small>
                </div>
              </div>

            </div>
          </div>
          <!--  -->
          <div class="carousel-item populares2Item categoriaItem">
            <div class="col-md-3">
              <!-- Se agrega card tomada de productos -->
              <div class="card h-100">
                <!-- Se agrega un header a la tarjeta y se coloca icono para wishList -->
                <div class="card-header bg-transparent">
                  <a href="#" class="btn"><img src="/Assets/icons/icons8-me-gusta-48.png" alt="AgregaWishList"
                      width="30px"></a>
                </div>
                <img class="card-img-top" src="/Assets/images/Productos/gomitas.jpg" alt="Card image cap" width="">
                <div class="card-body">
                  <h5 class="card-title">Gomitas Sour Patch</h5>
                  <p class="card-text">$39.90</p>
                </div>
                <!-- Se agrega un footer a la tarjeta y se coloca icono para añadirCarrito-->
                <div class="card-footer ">
                    <small class="text-muted">
                      <a href="#" class="btn1"></a><img src="/Assets/icons/icons8-carrito-de-la-compra-cargado-48.png" alt="AgregarCarrito"
                        width="40px"></a>
                  </small>
                </div>
              </div>
              
            </div>
          </div>
  
          <div class="carousel-item populares2Item categoriaItem">
            <div class="col-md-3">
              <!-- Se agrega card tomada de productos -->
              <div class="card h-100">
                <!-- Se agrega un header a la tarjeta y se coloca icono para wishList -->
                <div class="card-header bg-transparent">
                  <a href="#" class="btn"><img src="/Assets/icons/icons8-me-gusta-48.png" alt="AgregaWishList"
                      width="30px"></a>
                </div>
                <img class="card-img-top" src="/Assets/images/Productos/gomitas.jpg" alt="Card image cap" width="">
                <div class="card-body">
                  <h5 class="card-title">Gomitas Sour Patch</h5>
                  <p class="card-text">$39.90</p>
                </div>
                <!-- Se agrega un footer a la tarjeta y se coloca icono para añadirCarrito-->
                <div class="card-footer ">
                    <small class="text-muted">
                      <a href="#" class="btn1"></a><img src="/Assets/icons/icons8-carrito-de-la-compra-cargado-48.png" alt="AgregarCarrito"
                        width="40px"></a>
                  </small>
                </div>
              </div>
              
            </div>
          </div>
          <!--  -->
          <div class="carousel-item populares2Item categoriaItem" >
            <div class="col-md-3">
              <!-- Se agrega card tomada de productos -->
              <div class="card h-100">
                <!-- Se agrega un header a la tarjeta y se coloca icono para wishList -->
                <div class="card-header bg-transparent">
                  <a href="#" class="btn"><img src="/Assets/icons/icons8-me-gusta-48.png" alt="AgregaWishList"
                      width="30px"></a>
                </div>
                <img class="card-img-top" src="/Assets/images/Productos/gomitas.jpg" alt="Card image cap" width="">
                <div class="card-body">
                  <h5 class="card-title">Gomitas Sour Patch</h5>
                  <p class="card-text">$39.90</p>
                </div>
                <!-- Se agrega un footer a la tarjeta y se coloca icono para añadirCarrito-->
                <div class="card-footer ">
                    <small class="text-muted">
                      <a href="#" class="btn1"></a><img src="/Assets/icons/icons8-carrito-de-la-compra-cargado-48.png" alt="AgregarCarrito"
                        width="40px"></a>
                  </small>
                </div>
              </div>
              
            </div>
          </div>
          <!--  -->
          <div class="carousel-item populares2Item categoriaItem">
            <div class="col-md-3">
              <!-- Se agrega card tomada de productos -->
              <div class="card h-100">
                <!-- Se agrega un header a la tarjeta y se coloca icono para wishList -->
                <div class="card-header bg-transparent">
                  <a href="#" class="btn"><img src="/Assets/icons/icons8-me-gusta-48.png" alt="AgregaWishList"
                      width="30px"></a>
                </div>
                <img class="card-img-top" src="/Assets/images/Productos/gomitas.jpg" alt="Card image cap" width="">
                <div class="card-body">
                  <h5 class="card-title">Gomitas Sour Patch</h5>
                  <p class="card-text">$39.90</p>
                </div>
                <!-- Se agrega un footer a la tarjeta y se coloca icono para añadirCarrito-->
                <div class="card-footer ">
                    <small class="text-muted">
                      <a href="#" class="btn1"></a><img src="/Assets/icons/icons8-carrito-de-la-compra-cargado-48.png" alt="AgregarCarrito"
                        width="40px"></a>
                  </small>
                </div>
              </div>
              
            </div>
          </div>
          <!--  -->
          <div class="carousel-item populares2Item categoriaItem">
            <div class="col-md-3">
              <!-- Se agrega card tomada de productos -->
              <div class="card h-100">
                <!-- Se agrega un header a la tarjeta y se coloca icono para wishList -->
                <div class="card-header bg-transparent">
                  <a href="#" class="btn"><img src="/Assets/icons/icons8-me-gusta-48.png" alt="AgregaWishList"
                      width="30px"></a>
                </div>
                <img class="card-img-top" src="/Assets/images/Productos/gomitas.jpg" alt="Card image cap" width="">
                <div class="card-body">
                  <h5 class="card-title">Gomitas Sour Patch</h5>
                  <p class="card-text">$39.90</p>
                </div>
                <!-- Se agrega un footer a la tarjeta y se coloca icono para añadirCarrito-->
                <div class="card-footer ">
                    <small class="text-muted">
                      <a href="#" class="btn1"></a><img src="/Assets/icons/icons8-carrito-de-la-compra-cargado-48.png" alt="AgregarCarrito"
                        width="40px"></a>
                  </small>
                </div>
              </div>
              
            </div>
          </div>
          <!--  -->
        </div>
        <a class="carousel-control-prev bg-transparent w-aut" href="#populares2Carousel" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </a>
        <a class="carousel-control-next bg-transparent w-aut" href="#populares2Carousel" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </a>
      </div>
    </div>		
  </div>
</section>


<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
  crossorigin="anonymous"></script>

<!-- <script src="/Assets/Scripts/js/jquery-3.3.1.min.js"></script>
<script src="/Assets/Scripts/js/jquery-migrate-3.0.0.min.js"></script>
<script src="/Assets/Scripts/js/jquery.backstretch.min.js"></script>
<script src="/Assets/Scripts/js/jquery.backstretch.js"></script> -->
<script src="/Assets/Scripts/categoriasPopularesHome.js"></script>
</body>
</html>