@media (max-width: 767px) {
    .carruselInner .categoriaItem > div {
        display: none !important;
    }
    .carruselInner .categoriaItem > div:first-child {
        display: block !important;
    }
}

.carruselInner .carousel-item.active,
.carruselInner .carousel-item-next,
.carruselInner .carousel-item-prev {
    display: flex !important;
}

/*  */
@media (min-width: 768px) {

    .carruselInner .carousel-item-end.active,
    .carruselInner .carousel-item-next {
        transform: translateX(25%) !important;
    }

    .carruselInner .carousel-item-start.active, 
    .carruselInner .carousel-item-prev {
        transform: translateX(-25%) !important;
    }
}

.carruselInner .carousel-item-end,
.carruselInner .carousel-item-start { 
    transform: translateX(0) !important;
}