body,main{
    background-color: #f6f6f6;
    
    font-family: 'Lexend', sans-serif;
}

.colCategoria {
    border: 0;
    border-radius: 25px;
}
.cardCategoria{
    /* box-shadow:  10px 10px 5px  rgba(55, 226, 212, 0.423); */
}


@media (max-width: 992px)  {

}


/*Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) { 
    #imageSection{
        background-color: #f6f6f6;
        width: 100%;
    }
    #carousel,#carouselCaptions{
        width: 100%;
        padding: 0;
        border:0;
    }
    #headlineButton1> h2, #headlineSection1{
        font-size: 1rem;
    }

}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
    .smallDevices{
        visibility: hidden;
      }
 }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 

 }

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 

 }

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {  }
#carousel{
    background-color: #f6f6f6;

}

.homeEtiquetas{
    color: #FF6FB5;
    /* font-family: 'Lexend', sans-serif; */
    text-shadow: 2px 2px 5px #5a06969d;

    font-family: 'Fredoka One', cursive;
    
}
#homeButton{
    border:0;
    background-color: rgba(245, 245, 245, 0);  
    color: #FF6FB5;

}
#headlineButton1> span ,#headlineSection1 > h1{
    font-size: 16px;
    box-shadow: 0 0 20px  rgba(255, 255, 255, 0), 0 0 20px  rgba(0,0,0,0.19); 
    background-color: rgba(245, 245, 245, 0.384);
    color: #FF6FB5;
}
.homeCards,.homeCardContainer{
    padding: 0;
    border: 0;
}
.card{
    border: 0;
    padding-left: 1% ;
    
}
.card-header{
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding: 1%;
}

/*************Carruseles secciones*********/
@media (max-width: 767px) {
    .carruselInner .categoriaItem > div {
        display: none !important;

    }
    .carruselInner .categoriaItem > div:first-child {
        display: block !important;

    }
}

.carruselInner .carousel-item.active,
.carruselInner .carousel-item-next,
.carruselInner .carousel-item-prev {
    display: flex !important;

}

/*  */
@media (min-width: 768px) {

    .carruselInner .carousel-item-end.active,
    .carruselInner .carousel-item-next {
        transform: translateX(25%) !important;

    }

    .carruselInner .carousel-item-start.active, 
    .carruselInner .carousel-item-prev {
        transform: translateX(-25%) !important;
    }
}

.carruselInner .carousel-item-end,
.carruselInner .carousel-item-start { 
    transform: translateX(0) !important;
}