body{
    background-color:#f6f6f6;
}

/* .faq-group-title, #faq-title{
  font-family: 'Fredoka One', cursive;
}
*/

.card-title, .card-text{
  font-family: 'Lexend', sans-serif;
} 
.card-text{
  text-align: right;
}
/* .card{
  margin-bottom: 15px;

} */

/* @media only screen and (max-width: 630px)  {
    .card{
        width: auto;
  }
}  */

/* @media only screen and (max-width: 400px) {
     For mobile phones: 
    [class*="col-"] {
      width: 100%;
    }
  } */

  /* @media only screen and (max-width: 600px) {
    For mobile phones:
    [class*="col-"] {
      width: 50%;
    }
  } */
/*  @media only screen and (max-width: 800px) {
    For mobile phones:
    [class*="col-"] {
      width: 50%;
    }
  }  */
/* #contenido{
    float: left;
    background-color: aqua;
    column-width: 150px;
    height: 300px;
    margin-top: 35px;
}  */
/* .col-xs10{
    margin-top: 3%;
}
 */
.h2{
  font-family: 'Fredoka One';
  text-align: center;
}

.card-img-top{
    width: 150px;
    height: 250px;
    padding: 0vw 2vw 0 2vw;
    
}

.card-img-top:hover{
  transform: scale(0.9);
}

 /* @media only screen and (max-width: 780px) {
    /* For mobile phones: */
   /* [class*="col-md"] {
      width: 50%;
      height: 50%;
    }
  }  */
  /*  @media (min-width: 480px) {
    /* For mobile phones: */
   /* [class*="card-image-top"] {
      width: 15%;
      height: 15%;
    }
  }  */
 .card-header{
    border-bottom: none !important;
    height: 45px;
}
.card-footer{
    background-color: #ffffff;
    border-top: none !important;
    height: 50px;
}
.add{
    background-color: #87EF6E;
    margin-left: 5%;
    font-family: 'Fredoka One', cursive;
    color: #590696;
    border-radius: 8px;
  
}
.add:hover{
  background: #FF6FB5;
  transform: scale(1.2);
  
}
.btn:hover{
  background: #FF6FB5;
  opacity: 40%;
  transform: scale(1.2);
}
.btn1{
    margin-left: 70%;
}
/* #piePagina{
    background-color: hotpink;
    height: 100px;
} */
.feedback {
  /* 
  padding: 10px 25px;
  border: none;
  border-radius: 5px; */
  
  display: none;
  background-color: #87EF6E;
    margin-left: 5%;
    /* align-self: center; */
    font-family: 'Fredoka One', cursive;
    color: #590696;
  
}