/*Estilos footer */

footer{
    background-color: #FF6FB5;
}

.img-footer{
    height: 30px;
    width: auto;
}

.footer-links{
    text-align:center;
}

.footer-text-logo{
    font-family: 'Righteous', cursive;
    font-size: 30px;
}

.text-nowrap{
    word-wrap: normal;
}