*{
  font-family: 'Lexend', sans-serif;
}
#navBar-partOne-item, #navBar-partOne{
  background-color: #E8DAEF;
  padding-bottom: 0;
}
#navBar-partTwo-item, #navBar-partTwo{
  background-color: #590696;
  padding-top: 0;
  
}
#navBar-partTwo .nav-link {
  color: #fff;

}

.navbar-nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sweetLogo{
  width:auto;
  height: 150px;
}
@media (max-width: 992px)  {
  .collapseItem{
  visibility: collapse;
}
#sweetLogo{
  height: 24vw;
  padding:0 !important;
}
.navbar-toggler{
  width: 8vw;
  padding-right:0 !important;
}

}

.icons{
  width:100%;
  height: auto;
}
#iconSearch, #iconUser,#iconMeEncanta,#iconCarrito,#iconCarrito{
  width: 9vw;
  padding-right: 1vw;
}







