<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./Assets/styles/style.css">
    <link rel="stylesheet" href="./NavBar.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">


    <title>SweetCommerce</title>
</head>
<body>
    <section id="header"class="container" >
        <header class="row">
            <nav class="navbar navbar-expand-lg bg-body-tertiary col-sm-12 col-md-12 col-lg-12 col-xl-12
            " >
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">
                    <img src="/Assets/images/Sweet.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                Bootstrap
              </a>

    
              <form class="d-flex" role="search" data-bs-toggle="collapse" data-bs-target="#navIcons" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>

              
              <div class="container">
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="#">
                        <img class="img-fluid" src="/Assets/icons/icons8-me-gusta-48.png" alt="">
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link " href="#">
                        <img class="img-fluid" src="/Assets/icons/icons8-me-gusta-48.png" alt="">
                      </a>
                    </li>
                    <li class="nav-item ">
                      <a class="nav-link" href="#">
                        <img class="img-fluid" src="/Assets/icons/icons8-me-gusta-48.png" alt="">
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link disabled">
                        <img src="/Assets/icons/icons8-me-gusta-48.png" alt=""></a>
                    </li>
                  </ul>
              </div>

        
                   
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                </div>
        </header>

        <nav class="row navbar navbar-expand-lg bg-body-tertiary" >
            <div class="container-fluid col-sm-12 col-md-12 col-lg-12 col-xl-12
            ">
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Features</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Pricing</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link disabled">Disabled</a>
                      </li>
                    </ul>
                  </div>
        </nav>
    </section>

    <!-- <header>
        <div class="container-fluid ">
            

        </div>
        <nav class="navbar navbar-expand-lg bg-body-tertiary" >
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                <img src="/Assets/images/Sweet.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
            Bootstrap
          </a>

          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
    
               
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
    
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled">Disabled</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Features</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Pricing</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link disabled">Disabled</a>
                      </li>
                    </ul>
                  </div>
    
            </div>
          </nav>
        
    </header> -->



    <!-- 

    <nav class="navbar bg-body-tertiary">

        <div class="container-fluid"> -->


        </div>
      </nav>
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src=""></script>
</body>
</html>