<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />

    <title>SweetCommerce</title>
  </head>
  <body>
    <!-- Navbar se divide en 2 secciones parte 1 y parte 2 -->
    <header id="sectionContainer" class="container-fluid ps-0 pe-0 pt-0">
      <nav class="pt-0" id="header">
        <div
          id="navBar-partOne"
          class="navbar navbar-expand-lg bg-body-tertiary pt-0"
        >
          <div id="navBar-partOne-item" class="container-fluid justify-content-between ps-1">
            <!-- LOGO vinculado a home -->
            <a class="navbar-brand ps-0 pe-0" href="home.html">
              <img
                id="sweetLogo"
                src="../Assets/images/Sweet.png"
                alt="Logo"
                class="d-inline-block align-text-center"
              />
            </a>
            <!--  Barra de busqueda  -->
            <div class="collapse navbar-collapse" id="barraBusqueda">
              <!-- Barra de busqueda -->
              <form id="" class="d-flex " role="search">
              <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
              />
              <button
              class="btn btn-outline-success bg-info-subtle border-light-subtle text-info-emphasis"
              type="submit"
              >search
            </button>
          </form>
        </div>
            <!-- Elementos que aparecen al colapsar-->
            <!-- Primer: elemento barra de busqueda -->
            <a
              class="btn nav-link navbar-toggler border border-0 p-0"
              href="#barraBusqueda"
              role="button"
              data-bs-toggle="collapse"
              data-bs-target="#barraBusqueda"
              aria-controls="barraBusqueda"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >

              <span
                ><img
                  id="iconSearch"
                  class="img-fluid"
                  src="../Assets/images/icons/icons8-busca-mas-48.png"
                  alt=""
              /></span>
            </a>
        <!-- PROBANDO CAMBIOS -->
        <a id="userIcon" class="nav-link  border border-0 p-0" aria-current="page" href="login.html">
          <img
            class="img-fluid"
            src="../Assets/images/icons/icons8-usuario-masculino-en-círculo-48.png"
            alt=""
          />
        </a>

        <a class="nav-link  border border-0 p-0" href="listaDeseos.html">
          <img
            
            class="img-fluid"
            src="../Assets/images/icons/icons8-me-gusta-48.png"
            alt=""
          />
        </a>
        <a class="nav-link  border border-0 p-0 " href="carrito.html">
          <img
            class="img-fluid"
            src="../Assets/images/icons/icons8-carrito-de-la-compra-cargado-48.png"
            alt=""
        /></a>
            

            <!-- Boton hamburguesa -->
            <button
              id="botonHamburguesa"
              class="btn navbar-toggler justify-content-center"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarNav"
              aria-controls="navbarNav"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span id="spanBtnHamburgesa" class="navbar-toggler-icon"></span>
            </button>
          </div>
        </div>

        <div
          id="navBar-partTwo"
          class="navbar navbar-expand-lg bg-body-tertiary"
        >
          <div id="navBar-partTwo-item" class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#"
                    >Dulces</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#"
                    >Chocolate</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#"
                    >Bebidas</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#"
                    >Snacks</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#"
                    >Caja Misteriosa</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </header>

  </body>
</html>
