*{
  font-family: 'Lexend', sans-serif;
}
#navBar-partOne-item, #navBar-partOne{
  background-color: #E8DAEF;
  padding-bottom: 0;
}
#navBar-partTwo-item, #navBar-partTwo{
  background-color: #590696;
  padding-top: 0;
  
}
#navBar-partTwo .nav-link {
  color: #fff;

}

.navbar-nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


#sweetLogo{
  height:15vw;
  width: auto;
}
 @media (max-width: 992px)  {

#botonHamburguesa, .icons{
  width: 7vw;
  justify-content: center;
  align-items: start;
  text-align: center;
}

.navbar-brand{
  height: 13vw;
  padding-bottom:0 !important;
  margin: 0 !important;
}
#sweetLogo{
  height:100%;
  padding:0vw !important;
  margin: 0 !important;

}


}
@media (max-width: 576px)  {

  #botonHamburguesa, .icons{
    width: 12vw;
    justify-content: center;
    align-items: start;
    text-align: center;
  }
  
  .navbar-brand, #sweetLogo{
    height: 26vw;
    padding:0 !important;
    margin: 0 !important;
  }
  
  
  }
  









